@import url("./global-styles.css");

/* Var names

Objetos
--bg-color;
--nav-color;
--footer-color;
--panel-color;
--inner-panel-color;
--button-color;
--button-hover-color;
--tab-color;
--disabled-color;

Texto
--font-nav;
--font-nav-hover;
--font-title;
--font-panel;
--font-footer;
--font-button;
*/

h1 {
  color: var(--font-title);
}

.creatorContainer{
  background-color: var(--panel-color);
  border-radius: 20px;
  margin: 1% 15%;
  padding: 3% 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

label{
  font-size: larger;
  font-weight: bold;
  margin: 5% 0;
  color: var(--font-panel);
}

input{
  padding: 2%;
  font-size: larger;
}

.name{
  width: 100%;
}

select{
  padding: 2%;
  font-size: larger;
}

.column{
  display: flex;
  flex-direction: column;
  width: 30%;
}

input[type="checkbox"]{
  width: 30px;
  height: 30px;
}

input[type="number"]{
  width: 20%;
}

.timeInput input{
  width: 3rem;
  margin: 5px;
}

.check-flex{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-column{
  margin: auto 0;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.optional-config{
  background-color: var(--inner-panel-color);
  padding: 3%;
  margin: 3% 0;
  border-radius: 10px;
}

.existences-input{
  margin-left: 5%;
}